<template lang="pug">
v-app(dark)
  v-navigation-drawer(:mini-variant.sync='miniVariant', :clipped='clipped', v-model='drawer' fixed app)
    v-toolbar.primary(flat)
      v-list.pa-0(style='color: white;')
        v-list-tile(avatar)
          v-list-tile-avatar
            i.fas.fa-sun.fa-3x.mx-1

          v-list-tile-content(style='font-size: 20px;')
            v-list-tile-title O Card&aacute;pio

    v-list
      v-list-tile(router :to='item.to' :key='i' v-for='(item, i) in items' active-class="light" exact)
        v-list-tile-action
          v-icon(v-html='item.icon')

        v-list-tile-content
          v-list-tile-title(v-text='item.title')

  v-toolbar(fixed app color='primary', :clipped-left='clipped')
    v-toolbar-side-icon(@click='drawer = !drawer' color="primary")

    v-btn(icon color='primary' @click.stop='miniVariant = !miniVariant')
      v-icon(v-html="miniVariant ? 'chevron_right' : 'chevron_left'")

    i.fas.fa-chess.fa-3x.mx-2

    v-toolbar-title.ml-2(v-text='title')

  v-content
    v-container
      nuxt

  v-footer(:fixed='fixed', app)
    span
      i.fas.fa-sun.fa-2x.ml-2.mr-2
      | Cloned in Sambodia 2018 pelo Gran Bretônio
</template>

<style>

@require '../assets/style/app.styl';

body, html {
  font-family: "News Cycle", sans-serif;
  font-weight: 300;
  font-style: normal;
}

</style>

<script>
  export default {
    data () {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          { icon: 'waves', title: 'Addio Mondo', to: '/' },
          { icon: 'directions_bike', title: 'Good Morning Midnight', to: '/inspire' },
          { icon: 'keyboard_arrow_left', title: 'Ade Meine Schnöde Welt', to: '/inspire' },
          { icon: 'wrap_text', title: 'Trombonifying', to: '/trombone' },
          { icon: 'smoking_rooms', title: 'Trumpeting', to: '/trumpet' },
          { icon: 'all_inclusive', title: 'The Horny French', to: '/french-horn' },
          { icon: 'tv', title: 'Chromium Euphonium', to: '/euphonium' },
          { icon: 'mic', title: 'Jet Set Cornet', to: '/cornet' },
          { icon: 'directions_bike', title: 'Tune for Bassoon', to: '/bassoon' },
          { icon: 'beach_access', title: 'Oboe the Hobo', to: '/obeo' },
          { icon: 'free_breakfast', title: 'Scuba-Dive Tuba ', to: '/tuba' }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Engenho Novo do Povo'
      }
    }
  }
</script>
