<template lang="pug">
v-container
  v-layout(justify-center align-center column fill-height)
    v-flex(text-xs-center)
      v-card.px-3(style="width: 400px")
        img.py-3(src='/white-hammer-sickle.svg', alt='Vuetify To Defy', height="175px")
        h1 French With a Wrench
        blockquote.blockquote
          | Stick your fist in it and blow
          footer
            small
              | &mdash; Johnny Rotten
          v-btn.primary.my-4(large nuxt-link to="/trumpet")
            i.fas.fa-bullseye.fa-2x.mr-3
            | A Horn to Scorn
</template>

<style>

/* v-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
v-layout {
  width: 400px;
} */

v-card {
  max-width: 400px;
}
</style>
