<template lang="pug">
v-container(fluid fill-height)
  v-layout(justify-center align-center column)
    v-flex(xs12 sm8 md6)
      v-card.pa-3.text-xs-center(style="max-width: 500px;")
        img.my-3(src='/blue-alchemy-sulphuric.svg', alt='Vuetify To Defy', height="125px")
        v-card-title.display-1.text-xs-center Ade Meine Schn&ouml;de Welt

        v-card-text.text-xs-left.body-display
          //- p(style="font-size: 18px; line-height: 1.5;") 
          |Qui ad audiam vituperata comprehensam, his ut ferri detracto. Eos noluisse menandri ad, qui quod graece noster te. Id mea graece menandri. Cu usu legere oblique deseruisse, eam sumo reprehendunt ut, eu tantas scripta sanctus nam. Duis volutpat quo ex, tritani urbanitas ea nam.

        v-card-action
          v-spacer

          hr.my-3

          a.v-btn.primary(nuxt-link to="/bagpipes") 
            i.material-icons.mr-2 mic_none
            | Beauty, Fie


          a.v-btn.danger.lighten-2.white--text(nuxt-link to='/tuba') 
            i.material-icons.mr-2 music_note
            | Git Fiddling

          v-btn.error(nuxt-link to='/trombone') 
            i.material-icons.mr-2 queue_music 
            | Next to Nuxt


          v-dialog(v-model='dialog' persistent max-width='390')
            template(v-slot:activator='{ on }')
              v-btn(color='dark' dark v-on='on') 
                i.fas.fa-broadcast-tower.mr-2
                | Dialogue Me
            v-card
              v-card-title.headline What Is Your Favorite Instrument?
              v-card-text.body-display Qui ad audiam vituperata comprehensam, his ut ferri detracto. Eos noluisse menandri ad, qui quod graece noster te.
              v-card-actions
                .flex-grow-1
                v-btn(color='blue-grey' text @click='dialog = false') Winds
                v-btn(color='green darken-4' text @click='dialog = false') Strings
                v-btn.black--text(color='yellow lighten-4' text @click='dialog = false') Brass

                        
</template>

<script>
  export default {
    data () {
      return {
        dialog: false
      }
    }
  }
</script>

<style>
  v-flex {
    min-height: calc(100vh - 75px);
  }
  .body-display {
    font-size: 18px;
    line-height: 1.5;
  }
</style>
